body[data-theme="light"] {
  --color-code-background: hsl(40, 50%, 70%);
  --color-code-title-background: hsl(38, 40%, 55%);
}

body[data-theme="dark"] {
  --color-code-background: hsl(0, 0%, 20%);
  --color-code-title-background: black;
}

div[data-rehype-pretty-code-fragment] {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  margin: 1rem 0;
  pre {
    overflow-x: auto;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: clamp(12px, 12px + 0.25vw, 16px);
    border-radius: 0.375rem;
    background-color: var(--color-code-background) !important;

    code {
      display: grid;
      font-family: monospace;
    }
  }

  div[data-rehype-pretty-code-title] + pre {
    padding-top: 35px;
  }

  div[data-rehype-pretty-code-title] {
    bottom: -20px;
    position: relative;
    border-radius: 0.375rem;
    background-color: var(--color-code-title-background);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: clamp(10px, 10px + 0.5vw, 14px);
    line-height: 1rem;
  }

  .line {
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    border-left: solid;
    border-left-width: 5px;
    border-left-color: transparent;
  }

  .line.highlighted {
    border-left-color: rgba(145, 255, 147, 0.7);
    background-color: rgba(96, 139, 33, 0.226);
  }

  .word {
    background-color: rgba(255, 255, 255, 0.14);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.14);
    border-radius: 2px;
  }

  code[data-line-numbers] {
    counter-reset: lineNumber;
  }

  code[data-line-numbers] .line::before {
    counter-increment: lineNumber;
    content: counter(lineNumber);
    display: inline-block;
    text-align: right;
    margin-right: 0.5rem;
    width: 1rem;
    color: rgb(255 255 255 / 0.2);
  }

  code[data-line-numbers-max-digits="2"] > .line::before {
    width: 1.25rem;
  }

  code[data-line-numbers-max-digits="3"] > .line::before {
    width: 1.5rem;
  }
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}
