body[data-theme="light"] {
  --color-background: hsl(50, 84%, 90%);
  --color-accent: hsl(185, 76%, 43%);
  --color-text: hsl(0, 0%, 35%);
  --color-heading: hsl(0, 0%, 20%);
  pre[data-theme="dark"],
  [data-rehype-pretty-code-title][data-theme="dark"] {
    display: none;
  }
}

body[data-theme="dark"] {
  --color-heading: hsl(50, 50%, 80%);
  --color-text: hsl(50, 21%, 72%);
  --color-accent: hsl(185, 78%, 32%);
  --color-background: hsl(0, 0%, 15%);
  pre[data-theme="light"],
  [data-rehype-pretty-code-title][data-theme="light"] {
    display: none;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

body {
  --edge-width: max(20px, calc((100% - 1300px) / 2));
  --sidebar-width: 5fr;
  --middle-width: minmax(0, 750px);

  font-family: var(--font-prose);

  min-height: 100vh;
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;

  background-color: var(--color-background);
  color: var(--color-text);
  font-size: clamp(15px, 15px + 0.25vw, 18px);
  line-height: 1.5;
  width: 100%;
  // todo: check if these affect reload in prod!
  // transition: color 400ms;
  // transition: background-color 400ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: var(--font-heading);
}

a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  color: var(--color-accent);
  text-decoration: none;

  /* for link animation */
  transition: background-size 250ms;
  background-image: linear-gradient(var(--color-accent), var(--color-accent));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;

  &:hover,
  :focus {
    background-size: 100% 2px;
  }
}

li {
  margin-left: 20px;
}

.music-list li {
  padding-top: 0.4em;
}

ul + h1,
ul + h2,
ul + h3,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  padding-top: 1em;
}

main {
  grid-area: main;

  display: grid;
  align-content: start;
  grid-template-columns:
    var(--edge-width) var(--sidebar-width) var(--middle-width)
    var(--sidebar-width) var(--edge-width);

  & > * {
    grid-column: 3 / span 1;
  }

  & > *.full-width {
    grid-column: 2 / span 3;
  }
  * + p {
    margin-top: 0.5em;
  }
  p + * {
    margin-top: 1em;
  }
}

.sidebar-left {
  grid-column: 2 / span 1;
}

.sidebar-right {
  grid-column: 4 / span 1;
}

.sidebar-left,
.sidebar-right {
  max-width: 100%;
  & * {
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .sidebar-left,
  .sidebar-right {
    grid-column: 3 / span 1;
  }
}

* + section {
  margin-top: 1em;
}

* + img {
  margin-top: 0.5em;
}

.footnotes {
  font-size: smaller;
  border-top: 1px solid #30363d;
}

.intro-paragraph {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0 1em;
}

@media (max-width: 625px) {
  .intro-paragraph {
    display: block;

    img {
      display: none;
    }
  }
}

/* Hide the section label for visual users. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

div.rc-tooltip-arrow {
  left: 4px !important;
}
