// set text and background varibles from theme
body[data-theme="light"] {
  --color-background: hsl(50, 84%, 90%);
  --color-accent: hsl(185, 76%, 43%);
  --color-text: hsl(0, 0%, 35%);
  --color-heading: hsl(0, 0%, 20%);
}

body[data-theme="dark"] {
  --color-heading: hsl(50, 50%, 80%);
  --color-text: hsl(50, 21%, 72%);
  --color-accent: hsl(185, 78%, 32%);
  --color-background: hsl(0, 0%, 15%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

body {
  // grid for header, main, and footer
  min-height: 100vh;
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;

  // set main content grid variables, used below
  // edge width is a min of 20px, but expands to fill the whole window
  --edge-width: max(20px, calc((100% - 1300px) / 2));
  // sidebar width is a min of 20px, but expands to fill the whole window
  --sidebar-width: 1fr;
  --middle-width: minmax(0, 750px);

  font-family: var(--font-prose);

  background-color: var(--color-background);
  color: var(--color-text);
  font-size: clamp(15px, 15px + 0.25vw, 18px);
  line-height: 1.5;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: var(--font-heading);

  // selector for autolinked headings
  & > a.autolink,
  & > p > a.autolink {
    color: var(--color-heading);
    background-image: linear-gradient(
      var(--color-heading),
      var(--color-heading)
    );
    &:hover,
    :focus {
      &:before {
        opacity: 1;
      }
    }

    position: relative;
    // before element has the anchor link marker
    &:before {
      content: "#";
      position: absolute;
      top: -0.2rem;
      left: -1.5rem;
      opacity: 0;
      transition: opacity 250ms;
    }

    // after element makes it so that you can move your mouse from the heading
    // to the anchor link marker without it disappearing
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.5rem;
      width: 1.5rem;
      opacity: 0.3;
    }
  }
}

a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  color: var(--color-accent);
  text-decoration: none;

  /* for link animation */
  transition: background-size 250ms;
  background-image: linear-gradient(var(--color-accent), var(--color-accent));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;

  &:hover,
  :focus {
    background-size: 100% 2px;
  }
}

li {
  margin-left: 20px;
}

.music-list li {
  padding-top: 0.4em;
}

ul + h1,
ul + h2,
ul + h3,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  padding-top: 1em;
}

main {
  grid-area: main;

  // make a 5 column grid!
  display: grid;
  align-content: start;
  grid-template-columns:
    var(--edge-width) var(--sidebar-width) var(--middle-width)
    var(--sidebar-width) var(--edge-width);

  // all direct children go in the middle column by default
  & > * {
    grid-column: 3 / span 1;
  }

  // .full-width will span the sidebars, not the edge
  & > *.full-width {
    grid-column: 2 / span 3;
  }
  * + p {
    margin-top: 0.5em;
  }
  p + * {
    margin-top: 1em;
  }
}

.sidebar-left {
  grid-column: 2 / span 1;
}

.sidebar-right {
  grid-column: 4 / span 1;
}

.sidebar-left,
.sidebar-right {
  max-width: 100%;
  & * {
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .sidebar-left,
  .sidebar-right {
    grid-column: 3 / span 1;
  }
}

* + section {
  margin-top: 1em;
}

* + img {
  margin-top: 0.5em;
}

.footnotes {
  padding-top: 1rem;
  margin-top: 2rem;
  font-size: smaller;
  border-top: 1px solid var(--color-text);
}

.intro-paragraph {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0 1em;
}

.popout {
  background-image: linear-gradient(
    to bottom right,
    var(--color-accent),
    var(--color-background)
  );
  border-bottom: 5px groove var(--color-accent);
  border-right: 5px groove var(--color-accent);
  padding: 1rem;
  border-radius: 10px;
  & a {
    color: var(--color-text);
    font-weight: bold;
    background-image: linear-gradient(
      var(--color-heading),
      var(--color-heading)
    );
  }
}

@media (max-width: 625px) {
  .intro-paragraph {
    display: block;

    img {
      display: none;
    }
  }
}

/* Hide the section label for visual users. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

div.rc-tooltip-arrow {
  left: 4px !important;
}
