.header {
  container-type: inline-size;
  margin-bottom: 0.5em;
  grid-area: header;
  font-family: var(--font-heading);
  padding-top: 0.5rem;
  display: grid;
  --edge-width: max(60px, calc((100% - 1300px) / 2));
  grid-template-columns:
    var(--edge-width) var(--sidebar-width) var(--middle-width)
    var(--sidebar-width) var(--edge-width);

  grid-template-areas: "left theme middle-header right-header right";
}

.link-wrapper {
  grid-area: middle-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: clamp(32px, 32px + 0.5vw, 45px);
  }

  a {
    font-weight: 600;
  }

  a,
  h1 {
    color: var(--color-heading);
    &:hover {
      color: var(--color-accent);
    }
  }

  ul {
    display: flex;
    align-items: center;

    li {
      transition: background-color 400ms;
      border-radius: 5px;
      padding: 4px 6px;
      list-style: none;
      margin-left: 0px;
      & + li {
        margin-left: 5px;
      }
    }
  }
}

.themeSwitcherWrapper {
  display: flex;
  margin-left: 5px;
}

.themeSwitcher {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    transition: background-color 300ms;
    &:hover {
      path {
        fill: var(--color-accent);
        transition: fill 100ms;
      }
    }
  }

  path {
    fill: var(--color-heading);
    transition: fill 400ms;
  }
}

li.active,
div.active {
  &:hover {
    path {
      fill: var(--color-heading);
    }
  }
  background-color: var(--color-accent);
  path,
  a:hover,
  h1:hover {
    color: var(--color-heading);
  }
}

@container (max-width: 500px) {
  .link-wrapper {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
