.wrapper {
  padding-top: 1em;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  & > div,
  & > a {
    border: 1px solid var(--color-text);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    background-image: none;
    color: var(--color-text);
    &:hover {
      background-image: none;
    }
  }
}
